.first h1{
    text-align: center;
    color: brown;
}
    
.cell {
    width: auto;
    height: 4vh;
    border: 1.5px solid grey;
}
    
.blackcell {
    background-color: black;
}
    
.whitecell {
    background-color: white;
}